<div class="container row-fluid">
	<div class="col-md-5 col-md-offset-1" id="services">
		<h1>Services</h1>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<p id="service_tag">Lakheystech focuses in achieving the best customer satisfaction via innovative solutions and technical excellence by following the industry-best practices that has been developed over these years. The company takes pride in being able to deliver qualitative solution in scheduled timeframe. For us, Customer Satisfaction is the key to success.

			Lakheys Tech provides top quality IT solutions covering multiple sectors </p>
		</div>
	</div>
<hr>

<div class=" container row-fluid">
  <div class="col-md-3 col-sm-offset-1" id="salesforce"></div>

  <div class="col-md-3 col-sm-offset-1" id="oracle"></div>

  <div class="col-md-3 col-sm-offset-1" id="linux"></div>
</div>

<div class=" container row-fluid">
  <div class="col-md-3 col-sm-offset-1" id="java"></div>

  <div class="col-md-3 col-sm-offset-1" id="dotnet"></div>

  <div class="col-md-3 col-sm-offset-1" id="php"></div>
</div>
