<div class="container jumbotron" id="about">
	<h1>About Us</h1>
</div>
<div class="container row-fluid">
	<div class=" container col-xs-6 col-md-6">
		<h2 align="center">Who We Are</h2>
		<p>Lakheystech is a fast-growing startup company located in Sugarland, Texas. We serve top quality services to the clients all around the world. We specialize in the areas of IT consulting, ERP, Application Services, Web Technologies and more. 

			We focuses in achieving the best customer satisfaction via innovative solutions and technical excellence by following the industry-best practices that has been developed over these years. The company takes pride in being able to deliver qualitative solution in scheduled timeframe. For us, Customer Satisfaction is the key to success.</p>
		</div>
		<div class="container col-xs-6 col-md-6">
			<h2 align="center">Our History</h2>
			<p>The creators of Lakheystech comes with many years of experience in multiple sectors. With these experience comes industry standard solutions that are appropriate for the business.

				The company offers end-to-end application support and help our customer re-engineer and re-invent their businesses to compete successfully in an ever-changing marketplace. 
				​
				The company offers cost-effective and intelligent IT solutions to clients in all sectors and focuses in customer satisfaction. We at Lakheystech, always value the importance of time. Therefore, we make sure that the delivery date of the project is met ensuring the quality of the product within the estimated budget.
			</p>
		</div>
	</div>

